= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :email
    = f.text_field :email
  -# .field
  -#   = f.label :password
  -#   = f.password_field :password
  .field
    = f.label :role
    = f.select :role, User.roles.keys 
  .actions
    = f.submit 'Save'
