%h7
  -if user_signed_in?
    = current_user.email
  -else
    = link_to('Login', new_user_session_path)

%h2
  = link_to('Logout', destroy_user_session_path, method: :delete)

%h1 Listing users

%table
  %thead
    %tr
      %th Email
      %th Role
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.role
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

-# = link_to 'New User', new_user_path
